@import "tailwindcss";

@theme {
  --font-sans:
    Inter var, Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.flex::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.flex {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
